body {
  background-color: #202020;
}

@import url(./vendor/normalize.css);
@import url(./vendor/fonts/fonts.css);

.active {
  color: #3DDC84;
}

.effect {
  transition: opacity .4s ease-in-out;
}

.effect:hover {
  opacity: 70%;
}

.animation {
  transition: opacity .4s ease-in-out;
}

.animation:hover {
  opacity: 80%;
}

.overflow {
  overflow: hidden;
}
